html {
  background-color: mediumpurple;
}

h1 {
  font-size: 35px;
  padding: 10px;
  text-align: center;
  font-family: monospace;
}

h3 {
  font-size: 25px;
  font-family: monospace;
}

.img {
  height: 300px;
  width: 450px;
}

h2 {
  font-size: 18px;
  font-family: monospace
}

div[class="nav"], article, footer, .secondary {
    background-color: #ffff66;
  }
  
  article, footer, .secondary {
    padding: 10px 30px;
  }
  
  article {
    margin-right: 10px;
  }
  
  div[class="nav"] {
    height: 50px;
    background-color: ff80ff;
    display: flex;
    padding: 1% 0;
    margin-bottom: 10px;
  }
  
  div[class="nav"] ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  div[class="nav"] li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  div[class="nav"] a {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: mediumslateblue;
  }
  
  div[class="nav"] .search {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
  }
  
  .search input {
    font-size: 1.6rem;
    height: 32px;
  }
  
  .search input[type="search"] {
    flex: 3;
  }
  
  .search input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;
  }
  
  main {
    display: flex;
  }
  
  article {
    flex: 5;
  }
  
  .secondary {
    flex: 2;
  }
  
  footer {
    margin-top: 10px;
  }

@media screen and (min-width: 480px) {
    html {
      background-color: lightblue;
    }
    p {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) and (min-width: 480){
  html {
    background-color: darkblue;
  }
  p {
    font-size: 17px;
  }
}